<!DOCTYPE html>
<html lang="en" class="theme-light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Movie Proposals</title>
    <style>
        {{ .Stylesheet }}
    </style>
</head>
<body class="p-4" data-theme="light">
<div id="introduction" class="content">
    <h1 class="title has-text-centered is-size-2">Movie Proposals</h1>
    <p>
        Dear team,<br/>
        you did it again. You proposed movies for the next summer semester to let the planning start
    </p>
    <p>
        This time you've been able to propose the folloing amount of movies
    </p>
    <ul>
        <li>2&times; Feature Movies</li>
        <li>1&times; Documentary</li>
    </ul>
    {{ if gt (len .Specials) 0}}
    <p>
        Additionally the following special programs have been proposed/announced for the summer semester
    </p>
    <ul>
        {{ range $proposedBy, $specials := .Specials }}
        <li>{{ .Title }} (proposed by: {{ .ProposedBy }}/{{ .Frequency }})</li>
        {{ end }}
    </ul>
    {{ end }}
    <p>
       Please read the appended proposals so we are able to have a fast meeting.
    </p>
</div>
<div id="movie-split-page" class="split-page">
    <span>
        <h1 class="title has-text-centered">Feature Movies</h1>
    </span>
</div>
<div id="movies" style="page-break-before: always">
    {{ $blFile := .DistributorBlacklistFile }}
    {{ range $proposedBy, $featureMovies := .FeatureMovies }}
    {{ range $featureMovies }}
    <div id="{{ .Title }}" class="page">
        <h2 class="title is-size-3 has-text-centered">{{ .Title }}</h2>
        <h3 class="subtitle is-size-4 has-text-centered">proposed by: {{ $proposedBy }}</h3>
        {{ if .DistributorWarning $blFile }}
        <div class="notification is-warning is-light">
            <div class="columns is-vcentered">
                <div class="column is-2">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path fill="currentColor"
                              d="M1 21h22L12 2zm3.47-2L12 5.99L19.53 19zM11 16h2v2h-2zm0-6h2v4h-2z"/>
                    </svg>
                </div>
                <div class="column">
                    <p class="has-text-centered has-text-weight-bold">
                        Obtaining the film rights for this movie is most likely not possible, as {{ .Distributor }} does not issue film rights to small cinemas like ours, like ours. Therefore there is a risk that this film is not be advertised to the public (i.e. on social media and our website).
                    </p>
                </div>
            </div>
        </div>
        {{ end }}
        <div class="field is-grouped is-grouped-multiline is-grouped-centered" id="{{ .Title }}-tags">
            <div class="control">
                <div class="tags has-addons">
                    <span class="tag is-dark">Language</span>
                    <span class="tag is-info">{{ .AudioLanguage  }}</span>
                </div>
            </div>
            <div class="control">
                <div class="tags has-addons">
                    <span class="tag is-dark">Distributor</span>
                    <span class="tag is-info">{{ .Distributor  }}</span>
                </div>
            </div>
            <div class="control">
                <div class="tags has-addons">
                    <span class="tag is-dark">Released in</span>
                    <span class="tag is-info">{{ .ReleaseYear.Format "2006"  }}</span>
                </div>
            </div>
            <div class="control">
                <div class="tags has-addons">
                    <span class="tag is-dark">Country</span>
                    <span class="tag is-info is-uppercase">{{ .CountryOfOrigin  }}</span>
                </div>
            </div>
            <div class="control">
                <div class="tags has-addons">
                    <span class="tag is-dark">IMDB</span>
                    <span class="tag is-info"><a class="has-text-black" href="{{ .IMDBUrl  }}">{{ .IMDBUrl }}</a></span>
                </div>
            </div>
        </div>
        <p>
            {{ .Description }}
        </p>
    </div>
    {{ end }}
    {{ end }}
</div>
<div class="split-page">
   <span>
       <h1 class="title has-text-centered">Documentaries</h1>
   </span>
</div>
<div id="documentaries" style="page-break-before: always">
    {{ $blFile := .DistributorBlacklistFile }}
    {{ range $proposedBy, $documentaries := .Documentaries }}
    {{ range $documentaries }}
    <div id="{{ .Title }}" class="page">
        <h2 class="title is-size-3 has-text-centered">{{ .Title }}</h2>
        <h3 class="subtitle is-size-4 has-text-centered">proposed by: {{ $proposedBy }}</h3>
        {{ if .DistributorWarning $blFile }}
        <div class="notification is-warning is-light">
            <div class="columns is-vcentered">
                <div class="column is-2">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path fill="currentColor"
                              d="M1 21h22L12 2zm3.47-2L12 5.99L19.53 19zM11 16h2v2h-2zm0-6h2v4h-2z"/>
                    </svg>
                </div>
                <div class="column">
                    <p class="has-text-centered has-text-weight-bold">
                        Obtaining the film rights for this movie is most likely not possible, as {{ .Distributor }} does not issue film rights to small cinemas like ours, like ours. Therefore there is a risk that this film is not be advertised to the public (i.e. on social media and our website).
                    </p>
                </div>
            </div>
        </div>
        {{ end }}
        <div class="field is-grouped is-grouped-multiline is-grouped-centered" id="{{ .Title }}-tags">
            <div class="control">
                <div class="tags has-addons">
                    <span class="tag is-dark">Language</span>
                    <span class="tag is-info">{{ .AudioLanguage  }}</span>
                </div>
            </div>
            <div class="control">
                <div class="tags has-addons">
                    <span class="tag is-dark">Distributor</span>
                    <span class="tag is-info">{{ .Distributor  }}</span>
                </div>
            </div>
            <div class="control">
                <div class="tags has-addons">
                    <span class="tag is-dark">Released in</span>
                    <span class="tag is-info">{{ .ReleaseYear.Format "2006"  }}</span>
                </div>
            </div>
            <div class="control">
                <div class="tags has-addons">
                    <span class="tag is-dark">Country</span>
                    <span class="tag is-info is-uppercase">{{ .CountryOfOrigin  }}</span>
                </div>
            </div>
            <div class="control">
                <div class="tags has-addons">
                    <span class="tag is-dark">IMDB</span>
                    <span class="tag is-info"><a class="has-text-black" href="{{ .IMDBUrl  }}">{{ .IMDBUrl }}</a></span>
                </div>
            </div>
        </div>
        <p>
            {{ .Description }}
        </p>
    </div>
    {{ end }}
    {{ end }}
</div>

<div class="split-page">
   <span>
       <h1 class="title has-text-centered">Voting Results</h1>
       <p>
           Everything behind this page is only required for the selection
           meeting
       </p>
   </span>
</div>
<div id="voting-table" style="page-break-before: always">
    <h6 class="title has-text-centered">Feature Movies</h6>
    <table class="table is-fullwidth is-bordered">
        <thead>
        <tr>
            <th>Name</th>
            <th>Movie Name</th>
            <th>Votes</th>
            <th>Selected (mark selected)</th>
        </tr>
        </thead>
        <tbody>
        {{ range $proposedBy, $featureMovies := .FeatureMovies }}
        {{ range $featureMovies }}
        <tr>
            <th>{{ $proposedBy }}</th>
            <td>{{ .Title }}</td>
            <td></td>
            <td></td>
        </tr>
        {{ end }}
        {{ end }}
        </tbody>
    </table>
    <h6 class="title has-text-centered">Documentaries</h6>
    <table class="table is-fullwidth is-bordered">
        <thead>
        <tr>
            <th>Name</th>
            <th>Movie Name</th>
            <th>Votes</th>
            <th>Selected (mark selected)</th>
        </tr>
        </thead>
        <tbody>
        {{ range $proposedBy, $featureMovies := .Documentaries }}
        {{ range $featureMovies }}
        <tr>
            <th>{{ $proposedBy }}</th>
            <td>{{ .Title }}</td>
            <td></td>
            <td></td>
        </tr>
        {{ end }}
        {{ end }}
        </tbody>
    </table>
</div>
</body>
</html>